.results {
  padding: 200px 110px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

@media screen and (max-width: 1280px) {
  .results {
    padding: 100px 55px;
  }
}

@media screen and (max-width: 1024px) {
  .results {
    flex-direction: column;
    padding: 50px 40px;
  }
}

@media screen and (max-width: 768px) {
  .results {
    flex-direction: column;
    padding: 50px 30px;
  }
}

@media screen and (max-width: 320px) {
  .results {
    padding: 50px 10px;
  }
}

.results__article {
  display: flex;
  flex-direction: column;
}

.results__title {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 1.2px;
  text-transform: uppercase;

  color: #ff9c08;
}

.results__subtitle {
  margin: 20px 0 0;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 58px;

  color: #090909;
}

@media screen and (max-width: 1280px) {
  .results__subtitle {
    font-size: 35px;
    line-height: 45px;
  }
}

@media screen and (max-width: 768px) {
  .results__subtitle {
    font-size: 30px;
    line-height: 40px;
  }
}

.results__table {
  list-style-type: none;
  margin: 30px 0 0;
  padding: 0;

  display: grid;
  grid-template-columns: min-content min-content;
  gap: 30px;
}

@media screen and (max-width: 1280px) {
  .results__table {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 1024px) {
  .results__table {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .results__table {
    display: flex;
    flex-wrap: wrap;
  }
}

.results__table-cell {
  max-width: fit-content;
  display: grid;
  justify-content: flex-start;
  grid-template-areas:
    'image title'
    'image text';
}

.results__table-image {
  grid-area: image;
  margin: 0 16px 0 0;
}

.results__cell-title {
  grid-area: title;
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 44px;
  color: #090909;
}

@media screen and (max-width: 768px) {
  .results__cell-title {
    font-size: 28px;
    line-height: 34px;
  }
}

.results__cell-text {
  grid-area: text;
  margin: 9px 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #6e6e6e;
}

.results__link {
  display: block;
  width: 180px;
  padding: 23px 38px 28px;
  box-sizing: border-box;
  align-self: flex-start;
  background: #ff9c08;
  border-radius: 10px;
  border: none;
  margin: 72px 0 0;
  text-decoration: none;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #090909;

  transition: background-color 300ms ease, transform 300ms ease, color 300ms ease;
  transform-style: preserve-3d;
}

@media screen and (max-width: 768px) {
  .results__link {
    width: 100%;
    margin: 40px 0 0;
  }
}

.results__link:hover {
  cursor: pointer;
  color: #fff;
  background-color: #f08200;
  transform: translate3d(0px, -3px, 0.01px);
}

.results__image {
  width: 100%;
}
