.lead {
  max-width: 1440px;
  padding-left: 110px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

@media screen and (max-width: 1024px) {
  .lead {
    display: flex;
    flex-direction: column;
    padding: var(--section-padding-1024px);
  }
}

@media screen and (max-width: 768px) {
  .lead {
    padding: 0;
    gap: 0;
  }
}

.lead__article {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .lead__article {
    padding: var(--section-padding-768px);
    box-sizing: border-box;
  }
}

@media screen and (max-width: 320px) {
  .lead__article {
    padding: var(--section-padding-320px);
  }
}

.lead__line {
  width: 140px;
  height: 4px;
  margin: 0;
  background: #ff9c08;
}

.lead__title {
  margin: 25px 0 0;
  font-family: var(--h1-font-family);
  font-style: var(--h1-font-style);
  font-weight: var(--h1-font-weight);
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
  color: var(--h1-color);
}

@media screen and (max-width: 1024px) {
  .lead__title {
    font-size: var(--h1-font-size-1024px);
    line-height: var(--h1-line-height-1024px);
  }
}

.lead__description {
  margin: 16px 0 0;
  font-family: var(--text-font-family);
  font-style: var(--text-font-style);
  font-weight: var(--text-font-weight-400);
  font-size: var(--text-font-size);
  line-height: var(--text-line-height);
  color: var(--text-color-gray);
}

@media screen and (max-width: 1024px) {
  .lead__description {
    font-size: var(--text-font-size-1024px);
    line-height: var(--text-line-height-1024px);
  }
}

@media screen and (max-width: 768px) {
  .lead__description {
    font-size: var(--text-font-size-768px);
    line-height: var(--text-line-height-768px);
  }
}

.lead__buttons {
  list-style-type: none;
  margin: 44px 0 0;
  padding: 0;
  display: flex;
  gap: 28px;
}

@media screen and (max-width: 768px) {
  .lead__buttons {
    width: 100%;
    flex-direction: column;
  }
}

.lead__image {
  max-width: 100%;
}
