.button {
  width: fit-content;
  display: block;
  padding: var(--button-padding);
  box-sizing: border-box;
  border-radius: var(--button-border-radius);
  background-color: var(--button-background-color-orange);

  white-space: var(--button-white-space);
  text-decoration: var(--button-text-decoration);
  font-style: var(--button-font-style);
  font-weight: var(--button-font-weight);
  font-size: var(--button-font-size);
  line-height: var(--button-line-height);
  text-align: var(--button-text-align);
  color: var(--button-text-color-black);

  transition: 300ms ease;
}

@media screen and (max-width: 768px) {
  .button {
    width: 100%;
  }
}

.button:hover {
  cursor: pointer;
  color: var(--button-hover-color-white);
  background-color: var(--button-hover-background-color-orange);
  transform: translate3d(0px, -3px, 0.01px);
}
