.charity {
  width: 100%;
  max-width: 1440px;
  background-color: var(--section-background-color-light-orange);
  padding: var(--section-padding);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1280px) {
  .charity {
    padding: var(--section-padding-1280px);
    align-items: center;
  }
}

@media screen and (max-width: 1024px) {
  .charity {
    padding: var(--section-padding-1024px);
  }
}

@media screen and (max-width: 768px) {
  .charity {
    padding: var(--section-padding-768px);
  }
}

@media screen and (max-width: 320px) {
  .charity {
    padding: var(--section-padding-320px);
  }
}

.charity__span {
  display: block;
  margin: 0 0 24px;
  width: 140px;
  height: 4px;
  background: #ff9c08;
}

.charity__container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin: 0 0 64px;
}

@media screen and (max-width: 1280px) {
  .charity__container {
    flex-direction: column;
    justify-content: center;
  }
}

.charity__title {
  margin: 0;
  font-family: var(--h1-font-family);
  font-weight: var(--h1-font-weight);
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
  color: var(--h1-color);
}

@media screen and (max-width: 1280px) {
  .charity__title {
    margin: 0;
    text-align: center;
  }
}

@media screen and (max-width: 1024px) {
  .charity__title {
    font-size: var(--h1-font-size-1024px);
    line-height: var(--h1-line-height-1024px);
  }
}

.charity__links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-self: center;
  display: flex;
  gap: 28px;
}

@media screen and (max-width: 768px) {
  .charity__links {
    width: 100%;
    flex-direction: column;
  }
}

.charity__image {
  width: 50%;
  border-radius: 16px;
  align-self: center;
}

@media screen and (max-width: 1024px) {
  .charity__image {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .charity__image {
    width: 100%;
  }
}
