.notfound {
  max-width: 596px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 233px 0 180px;
}

@media screen and (max-width: 1024px) {
  .notfound {
    padding: 100px 0;
  }
}

@media screen and (max-width: 768px) {
  .notfound {
    padding: 50px 30px;
  }
}

@media screen and (max-width: 320px) {
  .notfound {
    padding: 50px 10px;
  }
}

.notfound__title {
  margin: 0 0 18px;
  font-family: var(--h1-font-family);
  font-weight: var(--h1-font-weight);
  font-size: 100px;
  line-height: 1.2em;
  text-align: center;
  color: var(--h3-color-orange);
}

@media screen and (max-width: 768px) {
  .notfound__title {
    font-size: 50px;
  }
}

.notfound__subtitle {
  margin: 0 0 24px;
  font-family: var(--h2-font-family);
  font-weight: var(--h2-font-weight);
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  text-align: center;
  color: var(--h2-color-black);
}

@media screen and (max-width: 768px) {
  .notfound__subtitle {
    font-size: var(--h1-font-size-768px);
    line-height: var(--h1-line-height-768px);
  }
}

.notfound__text {
  margin: 0 0 32px;
  font-family: var(--text-font-family);
  font-weight: var(--text-font-weight-400);
  font-size: var(--text-font-size-1024px);
  line-height: var(--text-line-height-1024px);
  color: var(--text-color-gray);
  text-align: center;
}

@media screen and (max-width: 768px) {
  .notfound__text {
    font-size: var(--text-font-size-768px);
    line-height: var(--text-line-height-768px);
  }
}

.notfound__link {
  display: block;
  text-decoration: none;
  padding: 26px 38px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #ff9c08;

  font-family: var(--text-font-family);
  font-weight: var(--text-font-weight-700);
  font-size: var(--text-font-size-768px);
  line-height: var(--text-line-height-768px);
  color: var(--text-color-black);
  text-align: center;

  transition: 300ms ease;
}

.notfound__link:hover {
  cursor: pointer;
  color: #fff;
  background-color: #f08200;
  transform: translate3d(0px, -3px, 0.01px);
}
