.scrollup-button {
  width: 60px;
  height: 60px;
  position: fixed;
  right: 55px;
  bottom: 55px;
  padding: 0;
  border-radius: 10px;
  background-color: rgb(255, 156, 8);
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

  font-size: 30px;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 300ms ease;
  z-index: 100;
}

@media screen and (max-width: 1024px) {
  .scrollup-button {
    right: 40px;
    bottom: 40px;
  }
}

@media screen and (max-width: 768px) {
  .scrollup-button {
    width: 45px;
    height: 45px;
    right: 30px;
    bottom: 30px;
  }
}

@media screen and (max-width: 320px) {
  .scrollup-button {
    right: 10px;
    bottom: 10px;
  }
}

.scrollup-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
