.body {
  margin: 0 auto;
  width: 100%;
  min-width: 320px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', DejaVu Sans, Symbola, Everson Mono,
    Dingbats, Segoe UI Symbol, Quivira, SunExt-A, FreeSerif, Universalia, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

.root {
  height: 100vh;
  display: grid;
  justify-items: center;
  grid-template: min-content;
}
