.body {
  margin: 0 auto;
  width: 100%;
  min-width: 320px;
  font-family: Arial, Verdana, Univers, Futura, Helvetica, MS Sans Serif, Tahoma,
    Lucida Sans Unicode, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

.root {
  height: 100vh;
  display: grid;
  justify-items: center;
  grid-template: min-content;
}
