.header__nav {
  margin-left: 40px;
  display: flex;
  gap: 26px;
}

@media screen and (max-width: 768px) {
  .header__nav {
    margin: 0;
    flex-direction: column;
  }
}

.header__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #222;
}

@media screen and (max-width: 768px) {
  .header__link {
    font-size: 40px;
    line-height: 60px;
  }
}

.header__link:hover {
  text-decoration: underline;
}
