.nav {
  margin-left: 40px;
  display: flex;
  gap: 26px;
}

@media screen and (max-width: 768px) {
  .nav {
    margin: 0;
    flex-direction: column;
  }
}

.nav__link {
  text-decoration: none;

  font-family: var(--text-font-family);
  font-style: var(--text-font-style);
  font-weight: var(--text-font-weight-400);
  font-size: var(--text-font-size-1024px);
  line-height: var(--text-line-height-1024px);
  color: var(--text-color-black);
}

@media screen and (max-width: 768px) {
  .nav__link {
    font-size: var(--text-font-size);
    line-height: var(--text-line-height);
  }
}

.nav__link:hover {
  color: var(--text-color-orange);
}
