.related-articles {
  width: 100%;
  max-width: 1440px;
  padding: 0 110px;
  box-sizing: border-box;
}

@media screen and (max-width: 1280px) {
  .related-articles {
    padding: 0 60px;
  }
}

@media screen and (max-width: 1024px) {
  .related-articles {
    padding: 0 50px;
  }
}

@media screen and (max-width: 768px) {
  .related-articles {
    padding: 0 30px;
  }
}

@media screen and (max-width: 640px) {
  .related-articles {
    padding: 0 30px 50px;
  }
}

@media screen and (max-width: 320px) {
  .related-articles {
    padding: 0 20px 50px;
  }
}

.related-articles__title-container {
  border-top: 1px solid #dad1ca;
  margin-bottom: 64px;
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .related-articles__title-container {
    padding-top: 50px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .related-articles__title-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
}

.related-articles__title {
  margin: 0;
  font-family: var(--h2-font-family);
  font-style: var(--h2-font-style);
  font-weight: var(--h2-font-weight);
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  color: var(--h2-color-black);
}

@media screen and (max-width: 768px) {
  .related-articles__title {
    font-size: var(--h2-font-size-768px);
    line-height: var(--h2-line-height-768px);
  }
}
