.donate {
  max-width: 1440px;
  padding: 100px 0;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

@media screen and (max-width: 1280px) {
  .donate {
    padding: var(--section-padding-1280px);
  }
}

@media screen and (max-width: 1024px) {
  .donate {
    padding: var(--section-padding-1024px);
  }
}

@media screen and (max-width: 768px) {
  .donate {
    padding: var(--section-padding-768px);
  }
}

@media screen and (max-width: 320px) {
  .donate {
    padding: var(--section-padding-320px);
  }
}

.donate__article {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.donate__line {
  width: 140px;
  height: 4px;
  margin: 0;
  background: #ff9c08;
}

.donate__title {
  margin: 25px 0 0;
  font-style: var(--h1-font-style);
  font-weight: var(--h1-font-weight);
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
  color: var(--h1-color);
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .donate__title {
    font-size: var(--h1-font-size-1024px);
    line-height: var(--h1-line-height-1024px);
  }
}

.donate__text {
  margin: 16px 0 0;
  font-style: var(--text-font-style);
  font-weight: var(--text-font-weight-400);
  font-size: var(--text-font-size);
  line-height: var(--text-line-height);
  text-align: center;
  color: var(--text-color-gray);
}

@media screen and (max-width: 1024px) {
  .donate__text {
    font-size: var(--text-font-size-1024px);
    line-height: var(--text-line-height-1024px);
  }
}

@media screen and (max-width: 768px) {
  .donate__text {
    font-size: var(--text-font-size-768px);
    line-height: var(--text-line-height-768px);
  }
}

.donate__list {
  list-style-type: none;
  margin: 48px 0 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 28px;
}

@media screen and (max-width: 1280px) {
  .donate__list {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
}

@media screen and (max-width: 768px) {
  .donate__list {
    display: flex;
    flex-direction: column;
  }
}

.donate__list-item {
  max-width: 284px;
  padding: 60px 24px;
  box-sizing: border-box;
  border: var(--border);
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 2px 12px 0 rgb(43 43 43 / 6%);

  display: flex;
  flex-direction: column;
  align-items: center;

  transition: 300ms ease;
}

@media screen and (max-width: 1280px) {
  .donate__list-item {
    max-width: 320px;
  }
}

.donate__list-item:hover {
  cursor: pointer;
  color: #fff;
  background-color: #f08200;
  transform: translate3d(0px, -3px, 0.01px);
}

.donate__item-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #090909;
}

.donate__item-text {
  margin: 8px 0 0;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #3f3f3f;
}

.donate__item-button {
  display: block;
  width: 100%;
  margin: 16px 0 0;
  padding: 18px 24px;
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
  background-color: #ff9c08;

  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #090909;
}
