.header {
  border-bottom: 1px solid #f0ece8;
  padding: 32px 110px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1280px) {
  .header {
    padding: 32px 55px;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 32px 30px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    justify-content: space-between;
  }
}
