.header {
  width: 100%;
  background-color: var(--header-background-color);
  border-bottom: var(--header-border);
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
}

.header__container {
  max-width: 1440px;
  width: 100%;
  padding: 32px 110px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
}

@media screen and (max-width: 1280px) {
  .header__container {
    padding: 32px 55px;
  }
}

@media screen and (max-width: 1024px) {
  .header__container {
    padding: 32px 30px;
  }
}

@media screen and (max-width: 768px) {
  .header__container {
    justify-content: space-between;
  }
}

@media screen and (max-width: 480px) {
  .header__container {
    padding: 32px 20px;
  }
}

.header__link {
  margin-left: auto;
  padding: 18px 24px 18px;
  box-sizing: border-box;
  border-radius: var(--button-border-radius);
  background-color: var(--button-background-color-orange);

  text-decoration: var(--button-text-decoration);
  font-style: var(--button-font-style);
  font-weight: var(--button-font-weight);
  font-size: var(--button-font-size);
  line-height: var(--button-line-height);
  text-align: var(--button-text-align);
  color: var(--button-text-color-black);

  transition: 300ms ease;
}

@media screen and (max-width: 768px) {
  .header__link {
    padding: 20px 30px;
    font-size: 20px;
    line-height: 30px;
    margin: 40px 0 0;
  }
}

.header__link:hover {
  cursor: pointer;
  color: var(--button-hover-color-white);
  background-color: var(--button-hover-background-color-orange);
  transform: translate3d(0px, -3px, 0.01px);
}
