.footer__bottom {
  width: 100%;
  max-width: 1440px;
  border-top: 1px solid #f0ece8;
  margin: 110px 0 0;
  padding: 37px 110px 28px;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1280px) {
  .footer__bottom {
    padding: 37px 55px 28px;
    flex-direction: column-reverse;
    gap: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .footer__bottom {
    padding: 37px 30px 28px;
  }
}

@media screen and (max-width: 768px) {
  .footer__bottom {
    margin: 55px 0 0;
    padding: 37px 10px 28px;
  }
}

.footer__copyright {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #6e6e6e;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .footer__copyright {
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 768px) {
  .footer__copyright {
    font-size: 12px;
    line-height: 16px;
  }
}

.footer__copyright-link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-decoration-line: underline;
  color: #090909;
}

@media screen and (max-width: 1024px) {
  .footer__copyright-link {
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 768px) {
  .footer__copyright-link {
    font-size: 12px;
    line-height: 16px;
  }
}

.footer__copyright-link:hover {
  color: #ff9c08;
}

.footer__icon-links {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  gap: 12px;
}

@media screen and (max-width: 768px) {
  .footer__icon-links {
    gap: 8px;
  }
}

.footer__icon-link {
  display: block;
  width: 36px;
  height: 36px;
  background-color: #090909;
  border-radius: 8px;
  transition: 300ms ease;
}

.footer__icon-link:hover {
  background-color: #ff9c08;
  transform: translate3d(0px, -3px, 0.01px);
}

.footer__icon-image {
  width: 100%;
  background-color: transparent;
  border-radius: 8px;
  object-fit: contain;
  object-position: center;
}
