.result {
  width: 100%;
  max-width: 1440px;
  padding: 140px 110px 160px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .result {
    padding: 50px 30px;
  }
}

@media screen and (max-width: 320px) {
  .result {
    padding: 50px 10px;
  }
}

.result__title {
  margin: 0 0 16px;
  color: #ff9c08;
  font-size: 20px;
  line-height: 1.1em;
  font-weight: 700;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.result__subtitle {
  max-width: 624px;
  margin: 0 0 32px;
  color: #090909;
  font-size: 42px;
  line-height: 1.381em;
  font-weight: 700;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .result__subtitle {
    font-size: 36px;
  }
}

.result__table {
  border: none;
  padding: 0;
}
