.close-button {
  position: fixed;
  top: 32px;
  right: 30px;
  width: 33px;
  height: 33px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.close-button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.close-button:before,
.close-button:after {
  position: absolute;
  content: ' ';
  bottom: 0;
  top: 0;
  height: 33px;
  width: 3px;
  background-color: #090909;
}

.close-button:before {
  transform: rotate(45deg);
}

.close-button:after {
  transform: rotate(-45deg);
}
