.video {
  max-width: 1440px;
  padding: var(--section-padding);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 1280px) {
  .video {
    padding: var(--section-padding-1280px);
  }
}

@media screen and (max-width: 1024px) {
  .video {
    padding: var(--section-padding-1024px);
  }
}

@media screen and (max-width: 768px) {
  .video {
    padding: var(--section-padding-768px);
  }
}

@media screen and (max-width: 320px) {
  .video {
    padding: var(--section-padding-320px);
  }
}

.video::after {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  content: '';
  background-color: var(--section-background-color-middle-orange);
  height: 53%;
  z-index: -10;
}

@media screen and (max-width: 768px) {
  .video::after {
    height: 43%;
  }
}

.video__subtitle {
  margin: 0;
  font-family: var(--text-font-family);
  font-style: var(--text-font-style);
  font-weight: var(--text-font-weight);
  font-size: var(--text-font-size-1024px);
  line-height: var(--text-line-height-1024px);
  text-align: center;
  text-transform: var(--text-transform);
  color: var(--text-color-black);
}

@media screen and (max-width: 768px) {
  .video__subtitle {
    font-size: var(--text-font-size-768px);
    line-height: var(--text-line-height-768px);
  }
}

.video__title {
  max-width: 790px;
  margin: 20px 0 0;
  font-family: var(--h2-font-family);
  font-style: var(--h2-font-style);
  font-weight: var(--h2-font-weight);
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  text-align: center;
  color: var(--h2-color-black);
}

@media screen and (max-width: 768px) {
  .video__title {
    font-size: var(--h2-font-size-768px);
    line-height: var(--h2-line-height-768px);
  }
}

.video__links {
  list-style-type: none;
  margin: 38px 0 0;
  padding: 0;
  display: flex;
  gap: 28px;
}

@media screen and (max-width: 768px) {
  .video__links {
    width: 100%;
    flex-direction: column;
  }
}

.video__link {
  display: block;
  padding: var(--button-padding);
  box-sizing: border-box;
  background-color: var(--button-background-color-black);
  border-radius: var(--button-border-radius);

  text-decoration: var(--button-text-decoration);
  font-style: var(--button-font-style);
  font-weight: var(--button-font-weight);
  font-size: var(--button-font-size);
  line-height: var(--button-line-height);
  text-align: var(--button-text-align);
  color: var(--button-text-color-white);

  transition: 300ms ease;
}

.video__link:hover {
  cursor: pointer;
  color: var(--button-hover-background-color-black);
  background-color: var(--button-background-color-white);
  transform: translate3d(0px, -3px, 0.01px);
}

.video__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 64px 0 0;
  position: relative;
  cursor: pointer;
  transition: 300ms ease;
}

.video__container:hover {
  transform: translate3d(0px, -3px, 0.01px);
}

.video__container::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 57px;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .video__container::after {
    border-radius: 25px;
  }
}

.video__play-icon {
  width: 250px;
  height: 250px;
  position: absolute;
  z-index: 2;
}

@media screen and (max-width: 1024px) {
  .video__play-icon {
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 768px) {
  .video__play-icon {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 640px) {
  .video__play-icon {
    width: 120px;
    height: 120px;
  }
}

@media screen and (max-width: 320px) {
  .video__play-icon {
    width: 100px;
    height: 100px;
  }
}

.video__image {
  width: 100%;
  border-radius: 57px;
}

@media screen and (max-width: 768px) {
  .video__image {
    border-radius: 25px;
  }
}

.video__articles {
  list-style-type: none;
  margin: 80px 0 0;
  padding: 0;
  display: flex;
  gap: 74px;
}

@media screen and (max-width: 768px) {
  .video__articles {
    margin: 40px 0 0;
    flex-direction: column;
    gap: 35px;
  }
}

.video__article {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.video__article-title {
  margin: 0;
  font-family: var(--h3-font-family);
  font-style: var(--h3-font-style);
  font-weight: var(--h3-font-weight);
  font-size: var(--h3-font-size);
  line-height: var(--h3-line-height);
  color: var(--h3-color-black);
}

.video__article-text {
  margin: 0;
  font-family: var(--text-font-family);
  font-style: var(--text-font-style);
  font-weight: var(--text-font-weight-400);
  font-size: var(--text-font-size-768px);
  line-height: var(--text-line-height-1024px);
  color: var(--text-color-gray);
}
