.mission {
  max-width: 1440px;
  background-color: var(--section-background-color-light-orange);
  padding: 0 110px 100px;
  box-sizing: border-box;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1.2fr;
  gap: 42px;
}

@media screen and (max-width: 1280px) {
  .mission {
    padding: 0 55px 84px;
  }
}

@media screen and (max-width: 1024px) {
  .mission {
    grid-template-columns: 1fr;
    padding: var(--section-padding-1024px);
    gap: 40px;
  }
}

@media screen and (max-width: 768px) {
  .mission {
    padding: 50px 0;
  }
}

@media screen and (max-width: 768px) {
  .mission__article_padding {
    padding: 0 30px;
  }
}

@media screen and (max-width: 320px) {
  .mission__article_padding {
    padding: 10px;
  }
}

.mission__article_back {
  background-color: #fff;
  border-radius: 16px;
  padding: 50px 60px;
  box-sizing: border-box;
}

@media screen and (max-width: 1280px) {
  .mission__article_back {
    padding: 25px 40px;
  }
}

@media screen and (max-width: 768px) {
  .mission__article_back {
    padding: 25px 30px;
  }
}

@media screen and (max-width: 320px) {
  .mission__article_back {
    padding: 25px 20px;
  }
}

.mission__subtitle {
  margin: 0 0 16px;
  font-family: var(--text-font-family);
  font-style: var(--text-font-style);
  font-weight: var(--text-font-weight-400);
  font-size: var(--text-font-size-1024px);
  line-height: var(--text-line-height-1024px);
  text-transform: var(--text-transform);
  color: var(--text-color-orange);
}

@media screen and (max-width: 768px) {
  .mission__subtitle {
    font-size: var(--text-font-size-768px);
    line-height: var(--text-line-height-768px);
  }
}

.mission__title {
  margin: 0 0 24px;
  font-family: var(--h2-font-family);
  font-style: var(--h2-font-style);
  font-weight: var(--h2-font-weight);
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  color: var(--h2-color-black);
}

@media screen and (max-width: 768px) {
  .mission__title {
    font-size: var(--h2-font-size-768px);
    line-height: var(--h2-line-height-768px);
  }
}

.mission__text {
  margin: 0 0 24px;
  font-family: var(--text-font-family);
  font-style: var(--text-font-style);
  font-weight: var(--text-font-weight-400);
  font-size: var(--text-font-size-1024px);
  line-height: var(--text-line-height-1024px);
  color: var(--text-color-gray);
}

@media screen and (max-width: 768px) {
  .mission__text {
    font-size: var(--text-font-size-768px);
    line-height: var(--text-line-height-768px);
  }
}

.mission__text-span {
  color: var(--text-color-black);
}

.mission__list {
  list-style-type: none;
  margin: 0 0 56px;
  padding: 0;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.mission__list-item {
  font-family: var(--text-font-family);
  font-style: var(--text-font-style);
  font-weight: var(--text-font-weight-700);
  font-size: var(--text-font-size-1024px);
  line-height: var(--text-line-height-1024px);
  color: var(--text-color-black);
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .mission__list-item {
    font-size: var(--text-font-size-768px);
    line-height: var(--text-line-height-768px);
  }
}

.mission__list-item::before {
  content: url(../../images/list-style-icon.svg);
  margin-right: 16px;
}

.mission__images {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .mission__images {
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 28px;
  }
}

@media screen and (max-width: 320px) {
  .mission__images {
    flex-direction: column;
  }
}

.mission__figure {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 15px;
}

.mission__figure-image {
  width: 66px;
  height: 66px;
  border-radius: 100%;
  object-fit: cover;
  object-position: top;
}

.mission__figcaption {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mission__figcaption-title {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1em;
  color: #090909;
  white-space: nowrap;
}

.mission__figcaption-text {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.1em;
  color: #6e6e6e;
}

@media screen and (max-width: 768px) {
  .mission__image {
    width: 120px;
    height: 120px;
  }
}
