.button_about {
  background: var(--button-background-color-white);
  border: var(--button-border);
  box-shadow: var(--button-box-shadow);
}

.button_about:hover {
  cursor: pointer;
  color: var(--button-hover-color-white);
  background-color: var(--button-hover-background-color-black);
}
