.news__item {
  min-width: 100%;
  transition: 300ms ease;
}

@media screen and (max-width: 640px) {
  .news__item:not(:last-child) {
    margin-bottom: 40px;
  }
}

.news__item:hover {
  cursor: pointer;
  transform: translate3d(0px, -3px, 0.01px);
}

.news__item:hover .news__item-image {
  transform: scale(1.01);
}

.news__item:hover .news__item-title {
  color: #ff9c08;
}

.news__item:hover .news__item-link {
  color: #ff9c08;
}

.news__item:hover .news__item-link::after {
  margin-left: 6px;
}

.news__link {
  text-decoration: none;
}

.news__figure {
  margin: 0;
}

.news__item-image {
  width: 100%;
  border-radius: 12px;
  transition: 300ms ease;
}

.news__item-figcaption {
  display: block;
  width: 85%;
  padding: 49px 49px 44px;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #f0ece8;
  box-shadow: 0px 2px 12px rgba(43, 43, 43, 0.08);
  border-radius: 12px;

  position: relative;
  top: -90px;
}

@media screen and (max-width: 640px) {
  .news__item-figcaption {
    width: 100%;
    padding: 32px 24px 40px;
    margin: 0;
    top: 0;
  }
}

.news__item-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

@media screen and (max-width: 640px) {
  .news__item-container {
    flex-wrap: wrap;
  }
}

.news__item-button {
  display: block;
  max-width: 100%;
  height: fit-content;
  margin: 0;
  padding: 13px 23px 14px;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #f0ece8;
  border-radius: 6px;
  cursor: pointer;

  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #090909;
}

.news__item-date {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #6e6e6e;
  white-space: nowrap;
}

@media screen and (max-width: 640px) {
  .news__item-date {
    font-size: 15px;
  }
}

.news__item-title {
  margin: 18px 0 0;
  font-family: var(--h3-font-family);
  font-style: var(--h3-font-style);
  font-weight: var(--h3-font-weight);
  font-size: var(--h3-font-size);
  line-height: var(--h3-line-height);
  color: var(--h3-color-black);
  transition: 300ms ease;
}

@media screen and (max-width: 768px) {
  .news__item-title {
    font-size: var(--h3-font-size-768px);
    line-height: var(--h3-line-height-768px);
  }
}

.news__item-link {
  display: block;
  margin: 32px 0 0;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #090909;
  transition: 300ms ease;
}

.news__item-link::after {
  content: '\2794';
  margin-left: 3px;
  transition: 100ms ease;
}

.news__buttons {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 28px;
}

@media screen and (max-width: 768px) {
  .news__buttons {
    width: 100%;
    align-self: center;
    flex-direction: column;
    align-items: stretch;
  }
}

@media screen and (max-width: 640px) {
  .news__buttons {
    margin: 40px 0 0;
  }
}
