.news {
  width: 100%;
  max-width: 1440px;
  padding: var(--section-padding);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1280px) {
  .news {
    padding: var(--section-padding-1280px);
  }
}

@media screen and (max-width: 1024px) {
  .news {
    padding: var(--section-padding-1024px);
  }
}

@media screen and (max-width: 768px) {
  .news {
    padding: var(--section-padding-768px);
  }
}

@media screen and (max-width: 320px) {
  .news {
    padding: var(--section-padding-320px);
  }
}

.news__subtitle {
  margin: 0;
  font-family: var(--text-font-family);
  font-style: var(--text-font-style);
  font-weight: var(--text-font-weight);
  font-size: var(--text-font-size-1024px);
  line-height: var(--text-line-height-1024px);
  text-align: center;
  text-transform: var(--text-transform);
  color: var(--text-color-orange);
}

@media screen and (max-width: 768px) {
  .news__subtitle {
    font-size: var(--text-font-size-768px);
    line-height: var(--text-line-height-768px);
  }
}

.news__title {
  margin: 17px 0 0;
  font-family: var(--h2-font-family);
  font-style: var(--h2-font-style);
  font-weight: var(--h2-font-weight);
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  text-align: center;
  color: var(--h2-color-black);
}

@media screen and (max-width: 768px) {
  .news__title {
    font-size: var(--h2-font-size-768px);
    line-height: var(--h2-line-height-768px);
  }
}

.news__list {
  width: 100%;
  list-style-type: none;
  margin: 40px 0 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-flow: row dense;
  gap: 0 28px;
}

@media screen and (max-width: 1024px) {
  .news__list {
    grid-template-columns: 1fr;
  }
}
