.footer__top {
  max-width: 1440px;
  padding: 0 110px;
  box-sizing: border-box;
  display: flex;
  gap: 60px;
}

@media screen and (max-width: 1280px) {
  .footer__top {
    padding: 0 55px;
    display: grid;
  }
}

@media screen and (max-width: 1024px) {
  .footer__top {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .footer__top {
    gap: 30px;
  }
}

@media screen and (max-width: 320px) {
  .footer__top {
    padding: 0 10px;
  }
}

.footer__description {
  max-width: 336px;
}

@media screen and (max-width: 1280px) {
  .footer__description {
    max-width: 100%;
    grid-column: span 2;
  }
}

.footer__description-text {
  margin: 28px 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #3f3f3f;
}

.footer__links-container {
  display: flex;
  gap: 70px;
}

@media screen and (max-width: 768px) {
  .footer__links-container {
    gap: 30px;
  }
}

.footer__links {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  flex-direction: column;
  gap: 22px;

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  color: #090909;
}

@media screen and (max-width: 768px) {
  .footer__links {
    font-size: 18px;
    line-height: 20px;
  }
}

.footer__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #3f3f3f;
}

.footer__link:hover {
  cursor: pointer;
  color: #ff9c08;
}

.footer__buttons {
  max-width: 388px;
  background-color: #ff9c08;
  border-radius: 14px;
  padding: 64px 48px 50px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 18px;
}

@media screen and (max-width: 1280px) {
  .footer__buttons {
    padding: 50px 40px;
  }
}

@media screen and (max-width: 768px) {
  .footer__buttons {
    padding: 40px 30px;
  }
}

.footer__buttons-text {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  color: #090909;
}

@media screen and (max-width: 768px) {
  .footer__buttons-text {
    font-size: 18px;
    line-height: 20px;
  }
}

.footer__button {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding-top: 23px;
  padding-bottom: 28px;
  box-sizing: border-box;
  background-color: #fff;

  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #090909;

  transition: background-color 300ms ease, transform 300ms ease, color 300ms ease;
  transform-style: preserve-3d;
}

@media screen and (max-width: 1280px) {
  .footer__button {
    font-size: 16px;
    line-height: 18px;
  }
}

.footer__button:hover {
  cursor: pointer;
  color: #fff;
  background-color: #090909;
  transform: translate3d(0px, -3px, 0.01px);
}

.footer__button_black {
  background-color: #090909;
  color: #fff;
}

.footer__button_black:hover {
  color: #090909;
  background-color: #fff;
}
